.bkg{
    background-image: url('../../icons/comida.jpg');
    background-repeat: repeat;
    background-size: absolute;    
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
}
.pagination{
    display: flex;
    top: 100 px;
}
.cards{
    display: grid;
    /* align-items:center; */
    /* padding: 30px; */
    justify-content: center;
    grid-template-columns: 33% 33% 33% ;
    margin-top: 8rem;

}
.notFound{
    width: 80%;
    height: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px auto;
    background-color: rgb(63, 58, 58);
    border-radius: 10px;
}
.filter{
    border-radius: 10px;
    padding: 10px;
    background-color: rgba(255, 255, 255, 0.603);
    border: none;
    color: rgb(46, 46, 46);
    width: 80%;
    max-width: 200px;
    cursor: pointer;
    font-weight: bolder;
    transition: all 0.3s ease-in-out;
}
.filter:hover{
    color: rgb(255, 255, 255);
    background: rgb(46, 46, 46);
}
.filterContainer{
    display: flex;
    justify-content: center;
    width: 100%;
    gap:10px;
    margin-bottom: 25px;
    padding-top: 20px;

}