.dt{
  background-image: url('../../icons/comida.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment:fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  position:fixed;
  display: flex;
  flex-direction: column;
  justify-content:flex-start;
  align-items: center;
  flex-wrap: wrap;
}
.bkg{
   
    background-size: absolute;    
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
}


.imga{
    height: 10cm;
    width: 10cm;
    border-radius: 10px;   
}
.typea{
    border-right: 3px solid rgba( 0, 0, 0, 0.3);
    border-left: 3px solid rgba( 0, 0, 0, 0.3);
    color: white; 
}
.typeb{ 
    border-bottom: 3px solid rgba( 0, 0, 0, 0.3);
    color: white; 
}
.typec{
    color: white; 
}
.typed{  
    border-left: 3px solid rgba( 0, 0, 0, 0.3);
    color: white; 
}
.typee{
    border-top: 3px solid rgba( 0, 0, 0, 0.3);
    border-left: 3px solid rgba( 0, 0, 0, 0.3);
    color: white; 
}


.title{
    padding: 10px;    
    color: white;

    box-shadow: 0px 0px 20px 2px #402F26;
    background-color: #000000;

    border-radius: 10px;
    border: 3px solid rgba( 0, 0, 0, 0.3 );
}

.btn {

    color: #fff;
    font-size: 17px;
    background: #000000;
    padding: 10px 30px 10px 30px;
    width: 100vw;
    text-decoration: none;
    border-style: none;
    transition: all 1s ease;
  }
  
  .btn:hover {
    background: #00000095;
    cursor: pointer;
    transition: all 2s;
  }


.tarjetaDeDetalles {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: nowrap;
    box-shadow: 0px 0px 20px 2px #402F26;
    background-color: black;
    border: 3px solid rgba( 0, 0, 0, 0.3 );
    border-radius: 10px;
}
.TitulosDetalles {
    color: white;
}

