.card{
    display:inline-block;
    justify-content: center;
    text-align: center;
    margin: 20px;
    margin-bottom: 100px;
    /* max-width: 20%; */
    background-color: whitesmoke;
    padding: 10px;
 
    color: #000;

    box-shadow: 0px 0px 20px 2px #402F26;
    
    border-radius: 30px;
    border: 3px solid rgba( 0, 0, 0, 0.3 );
    transition: all 1s ease;
}
.card:hover{
    cursor: pointer;
    transform: translateY(-20px);
    transition: all 0.5s;
}
.cd{
    padding: 5px;
    width: 10cm;
    height: 13cm;
}
.cardimg{
    border-radius: 30px;
    width: 90%;
    height: 50%;
    
}
.types{
    display: flex;
    
    width: 200px;
    justify-content: center;
    
    color: black;
    flex-wrap: nowrap;
    flex-direction: column;
    align-items: baseline;


    
}
